<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>
        Welcome to the member_project
    </h1>
    <ul>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>

    <h2>Team Member: </h2>
    <ul>
        <li>Ilham</li>
        <li>Putri</li>  
        <li>Fitri</li>
        <li>Sani</li>
        <li>Ujang</li>
    </ul>

</body>
</html>